<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmhu.advancelight.book">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity android:name=".chapter1.MoonPermissionActivity" />
        <activity android:name=".chapter1.ThirdPartyActivity" />
        <activity android:name=".chapter1.ToolbarActivity" />
        <activity android:name=".chapter10.moonmvpsimple.ipinfo.IpInfoActivity" />
        <activity android:name=".chapter1.CardViewActivity" />
        <activity android:name=".chapter1.MyNotificationActivity" />
        <activity android:name=".chapter10.databinding.DataBindingMainActivity" />
        <activity android:name=".chapter10.databinding.BindingLayoutActivity" />
        <activity android:name=".chapter10.databinding.BindingUpdateActivity" />
        <activity android:name=".chapter1.recyclerview.RecyclerViewActivity" />
        <activity android:name=".chapter2.CoordinatorLayout.CoordinatorLayoutActivity" />
        <activity android:name=".chapter2.TabLayout.TabLayoutActivity" />
        <activity android:name=".chapter2.NavigationView.NavigationViewActivity" />
        <activity android:name=".chapter2.Designsupportlibrary.DesignsupportActivity" />
        <activity android:name=".chapter2.Designsupportlibrary.TextInputLayoutActivity" />
        <activity android:name=".chapter2.CoordinatorLayout.CollapsingToolbarActivity"></activity>
    </application>

</manifest>